.Login {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: antiquewhite;
  border-radius: 10px;
  margin: 50px auto;
  padding: 30px 40px;
  box-shadow: 20px 20px 80px rgb(206, 206, 206);
  text-align: center;
  animation: login 800ms ease-in-out forwards;
  transform-origin: top center;
  max-width: 500px;
}

.hed {
  font-family: "Kaushan Script", cursive;
  font-size: 3.5rem;
  font-weight: bold;
  color: #400485;
  font-style: italic;
  text-align: center;
}

.btn-outline-success {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}
.re {
  margin-top: 200px;
  text-decoration: none;
  font-size: 20px;
  color: green;
}
.pass {
  float: right;
  text-decoration: none;
  color: green;
  padding-top: 10px;
}

@keyframes login {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.error {
  margin-top: 15px;
  text-align: left;
  color: red;
}
